@import "reset.scss";
@import "variables.scss";

body {
  font-family: Jim Nightshade, cursive;
  font-size: 20px;
  line-height: var(--font-md-lh);
  font-weight: var(--regular);
  color: var(--text1);
  background-image: url('./background3.jpg') !important;
  background-size:cover;

  p{
    font-family: Jim Nightshade, cursive;
    font-size: 90px;
    color: white;
    margin-bottom: 70px;
    padding: 20px;
  }
 #wrapper {
    background-color: rgba(12, 10, 10, 0.795);
    padding: 30px;
    border: 2px solid #e5eace;
    border-radius: 10px;
  }
  .questionCount{
    font-family: Quintessential, cursive;
    color: white;
    font-size: 17px;
    margin: 5px;
    padding: 5px;
  }
 .question{
    font-family: Quintessential, cursive;
    color: white;
    margin: 10px;
    padding: 10px;
  }
  .answerOption{
    padding:7px;
    justify-content: flex-start;
  }
  .radioCustomLabel{
    font-size: 20px;
    font-family: M PLUS Rounded 1c, sans-serif;
    padding:5px;
    margin:5px;
  }
  .radioCustombutton{
    padding:5px;
    margin:5px;

  }
  .result{
    color: white;
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 20px;
  }



  @media (max-width:740px){

    p{
      font-size: 70px;
      margin-bottom: 50px;
      padding: 15px;
    }
    #wrapper {
      padding: 20px;
    }
    .questionCount{
      font-size: 14px;
      margin: 3px;
      padding: 3px;
    }
    .radioCustomLabel{
      font-size: 14px;
      padding:3px;
      margin:3px;
    }
    h2{
      font-size: 20px;
      margin:10px;
    }
    .question{
      margin: 8px;
      padding: 8px;
    }
    .answerOption{
      padding:4px;
    }
    .radioCustombutton{
      padding:3px;
      margin:3px;

    }
    .result{
      font-size: 25px;
      margin-top: 20px;
      margin-bottom: 15px;
    }


  }
    @media (max-width:550px){

      p{
        font-size: 40px;
        margin-bottom: 30px;
        padding: 10px;
      }
      #wrapper {
        padding: 10px;
      }
      .questionCount{
        font-size: 14px;
        margin: 3px;
        padding: 3px;
      }
      .radioCustomLabel{
        font-size: 11px;
        padding:1px;
        margin:1px;
      }
      h2{
        font-size: 16px;
      }
      .question{
        margin: 5px;
        padding: 5px;
      }
      .answerOption{
        padding:2px;
      }
      .radioCustombutton{
        padding:2px;
        margin:2px;

      }
      .result{
        font-size: 21px;
        margin-top: 12px;
        margin-bottom: 9px;
      }
  }
}



h1 {
  font-family: var(--headerFont);
  font-size: var(--font-xxl);
  line-height: var(--font-xxl-lh);
  font-weight: var(--bold);
  color: var(--text1);
}

h2 {
  font-family: Quintessential, cursive;
  font-size: 30px;
  line-height: var(--font-xl-lh);
  font-weight: var(--bold);
  color: var(--text1);
}

h3 {
  font-family: var(--headerFont);
  font-size: var(--font-lg);
  line-height: var(--font-lg-lh);
  font-weight: var(--bold);
  color: var(--text1);
}

h4 {
  font-family: var(--headerFont);
  font-size: var(--font-md);
  line-height: var(--font-md-lh);
  font-weight: var(--medium);
  color: var(--text1);
}

h5 {
  font-family: var(--headerFont);
  font-size: var(--font-sm);
  line-height: var(--font-sm-lh);
  font-weight: var(--medium);
  text-transform: uppercase;
  color: var(--text2);
}

h6 {
  font-family: var(--headerFont);
  font-size: var(--font-xs);
  line-height: var(--font-xs-lh);
  font-weight: var(--bold);
  text-transform: uppercase;
  color: var(--text3);
}

p {
  font-family: var(--mainFont);
  font-size: var(--font-md);
  line-height: var(--font-md-lh);
  font-weight: var(--regular);
  color: var(--text1);
}

label {
  font-family: var(--mainFont);
  font-size: var(--font-xs);
  line-height: var(--font-xs);
  font-weight: var(--bold);
  color: var(--text3);
}
